body {
    font-size:1.4rem;
    padding:8rem 1rem;
}

header{
    text-align:center;
    font-size:1.5rem;
    line-height:4rem;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    font-weight:bold;
    background:#FFFFFF;
}
header p{
    display:inline-block;
}
header .back{
    position:absolute;
    left:0;
    padding:0 2rem;
    font-size:1.2rem;
    background-repeat:no-repeat;
    background-size:2rem;
    background-position:1rem 50%;
    background-image:url('../image/icons/arrow-left-black.png');
}
h2{
    font-size:1.5rem;
    line-height:3rem;
}

h3{
    font-weight:normal;
    font-size:1.4rem;
    line-height: 2rem;
}
em{
    color:red;
    font-style:normal;
}
